.text-color-primary {
  color: $primary !important;
}
.text-color-success {
  color: $success !important;
}
.text-color-dark-light {
  color: $darkLight !important;
}
.cursor-pointer {
  cursor: pointer !important;
}